{% extends "base.html" %}
{% block title %}Nuovo movimento - AssoHUB{% endblock %}
{% block content %}
<h1 class="h3 mb-4">Nuovo movimento economico</h1>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="row g-3">
    <div class="col-md-4">
      {{ form.tipo.label(class_='form-label') }}
      {{ form.tipo(class_='form-select') }}
    </div>
    <div class="col-md-4">
      {{ form.importo.label(class_='form-label') }}
      {{ form.importo(class_='form-control') }}
    </div>
    <div class="col-md-4">
      {{ form.data.label(class_='form-label') }}
      {{ form.data(class_='form-control') }}
    </div>
    <div class="col-md-12">
      {{ form.descrizione.label(class_='form-label') }}
      {{ form.descrizione(class_='form-control', rows=3) }}
    </div>
    <div class="col-md-6">
      {{ form.id_evento.label(class_='form-label') }}
      {{ form.id_evento(class_='form-select') }}
    </div>
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-primary">Salva</button>
    <a class="btn btn-secondary" href="{{ url_for('main.movimenti_list') }}">Annulla</a>
  </div>
</form>
{% endblock %}
